/**
 * API Title
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object DefaultApi {

  /**
   * 
   * 
   * Expected answers:
   *   code 200 :  (OK)
   */
  def instancesGet(): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://virtserver.swaggerhub.com/AvAvA/User/1.0.0", "/instances", "application/json")
      .withSuccessResponse[Unit](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 :  (OK)
   * 
   * @param id Id kontejneru, ke kterému vztahujeme naši operaci
   * @param backupId Id snapshotu, ke kterému vztahujeme naši operaci
   */
  def instancesIdBackupsBackupIdExportGet(id: Any, backupId: Any): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://virtserver.swaggerhub.com/AvAvA/User/1.0.0", "/instances/{id}/backups/{backupId}/export", "application/json")
      .withPathParam("id", id)
      .withPathParam("backupId", backupId)
      .withSuccessResponse[Unit](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 :  (OK)
   * 
   * @param id Id kontejneru, ke kterému vztahujeme naši operaci
   */
  def instancesIdConsoleGet(id: Any): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://virtserver.swaggerhub.com/AvAvA/User/1.0.0", "/instances/{id}/console", "application/json")
      .withPathParam("id", id)
      .withSuccessResponse[Unit](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 :  (OK)
   * 
   * @param id Id kontejneru, ke kterému vztahujeme naši operaci
   */
  def instancesIdFilesGet(id: Any): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://virtserver.swaggerhub.com/AvAvA/User/1.0.0", "/instances/{id}/files", "application/json")
      .withPathParam("id", id)
      .withSuccessResponse[Unit](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 :  (OK)
   * 
   * @param id Id kontejneru, ke kterému vztahujeme naši operaci
   */
  def instancesIdSnapshotsGet(id: Any): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://virtserver.swaggerhub.com/AvAvA/User/1.0.0", "/instances/{id}/snapshots", "application/json")
      .withPathParam("id", id)
      .withSuccessResponse[Unit](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 :  (OK)
   * 
   * @param id Id kontejneru, ke kterému vztahujeme naši operaci
   * @param snapshotId Id snapshotu, ke kterému vztahujeme naši operaci
   */
  def instancesIdSnapshotsSnapshotIdGet(id: Any, snapshotId: Any): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://virtserver.swaggerhub.com/AvAvA/User/1.0.0", "/instances/{id}/snapshots/{snapshotId}", "application/json")
      .withPathParam("id", id)
      .withPathParam("snapshotId", snapshotId)
      .withSuccessResponse[Unit](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 :  (Pole objektů stavů se jmény a ID kontejnerů)
   */
  def stateDetailedGet(): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://virtserver.swaggerhub.com/AvAvA/User/1.0.0", "/stateDetailed", "application/json")
      .withSuccessResponse[Unit](200)
        /**
   * Stav využitých zdrojů všech kontejnerů uživatele vůči přiděleným zdrojům uživatele. V případě, že uživatel klikne na frontendu na možnost statistiky, tak se API volá každou vteřinu
   * 
   * Expected answers:
   *   code 200 :  (objekt stavu)
   */
  def stateGet(): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://virtserver.swaggerhub.com/AvAvA/User/1.0.0", "/state", "application/json")
      .withSuccessResponse[Unit](200)
      

}

