.ggl-tooltip {
   border: 1px solid #e0e0e0;
   font-family: Arial, Helvetica;
   font-size: 10pt;
   padding: 12px 12px 12px 12px;
   width: 100%;
   white-space: nowrap;
}

.resource-header {
   display: flex;
}

.resource-chart-headding {
   width: 105px;
   height: 105px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -60%);
   text-align: center;
   display: flex;
   justify-content: center;
   vertical-align: center;
   flex-flow: column;
}

.resource-chart-headding p {
   padding: 0;
   margin: 0px;
}

.resource-chart-headding p.used-size {
   font-size: 17pt;
   color: #333333;
}

.resource-chart-headding p.stat-name {
   line-height: 0.8;
   font-size: 12pt;
   color: #333333;
}

.resource-chart-headding p.max-size {
   line-height: 0.8;
   font-size: 10pt;
   color: #555555;
}

svg > g:last-child > g:last-child { pointer-events: none }
div.google-visualization-tooltip { pointer-events: none }