.ggl-tooltip {
   border: 1px solid #e0e0e0;
   font-family: Arial, Helvetica;
   font-size: 10pt;
   padding: 12px 12px 12px 12px;
   width: 100%;
   white-space: nowrap;
}

.resource-header{
   display: flex;
}