.limits-headding{
   margin: 0px 0px 20px 0px;
   font-size: 1.25rem;
}

.helper-icon {
   width: 14px !important;
   color: rgba(0, 0, 0, 0.87) !important;
   padding: 0px  !important;
}

.checkbox-div {
   width: 100%;
   margin-left: -12px;
   margin-bottom: 5px;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
}

.dialog {
   max-height: 800px;
   margin-top: auto;
   margin-bottom: auto
}

.dialog-collapse-div {
   margin-left: 15px;
}

.are-you-sure-dialog .small-text-item {
   margin-bottom: 5px;
}