.card-state-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.card-state-container h2 {
   margin: 0px;
}

.running,
.starting {
   color: #66bb6a;
}

.stopped,
.stopping {
   color: #fb404b;
}

.frozen,
.freezing {
   color: #f98131;
}

.card-dashboard {
   padding-bottom: 15px;
}

.card-link {
   color: black;
   margin-left: 0px;
}

.card-link:hover {
   color: black;
}

.card-link:hover .to-underline {
   text-decoration: underline;
}

.information-container .information-item {
   margin-bottom: 5px;
   margin-top: 5px;
}

.action-card {
   .icon-button {
      padding: 0px;
   }
   .icon-button-wrapper {
      padding-left: 15px;
   }
   .card-title {
      margin-right: auto;
   }
   .card-header {
      display: flex;
      flex-direction: row;
      align-items: center;
   }
}

@media (min-width: 1600px) {
   .col-xxl-5-group {
      flex: 0 0 20%;
      max-width: 20%;
   }
}
