.card-state-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.card-state-container h2 {
   margin: 0px;
}

.running {
   color: #66bb6a;
}

.stopped {
   color: #fb404b;
}

.frozen {
   color: #f98131;
}

.card-dashboard {
   padding-bottom: 15px;
}

.card-link {
   color: black;
   margin-left: 0px;
}

.card-link:hover {
   color: black;
}

.card-link:hover .to-underline {
   text-decoration: underline;
}

@media (min-width: 1600px) {
   .col-xxl-5-group {
      flex: 0 0 20%;
      max-width: 20%;
   }
}
